@import './layout.scss';

.drop-list {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 16px;
    border-radius: 8px;
    border: 1px solid $black;
    background-color: transparent;

    &__value-block {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 18px;
    }

    &__arrow-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.button {
    display: flex;
    flex-direction: column;
    gap: .4rem;

    &__title-container {
        display: flex;
        gap: .5rem;
        align-items: center;
    }

    &__icon-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-size: 16px;
        font-weight: 500;
    }
}

.btn {
    width: 100%;
    height: 48px;
    border-radius: 8px;

    &__yellow {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: $black;
        background-color: $yellow;
    }

    &__yellow-border {
        background-color: transparent;
        border: 1px solid $yellow;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 18px;
    }

    &__text-container {
        text-align: left;
    }

    &.btn__with-icon {
        height: unset;
        display: flex;
        gap: 0.4rem;
        padding-inline: 8px;
        padding-block: 12px;
        align-items: center;
        font-size: 18px;
        font-weight: 400;
        border: 1px solid $yellow;
    }
}

@keyframes show-panel {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes hide-panel {
    from {}

    to {}
}

.drop-list-panel {
    z-index: 100;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 56px);
    transform: translateY(100%);

    &.active {
        animation: show-panel 1s;
        animation-fill-mode: forwards;
    }

    background-color: white;

    &__name-container {
        min-height: 76px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        background-color: $grey;
    }

    &__list {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__element {
        span {
            font-size: 18px;
            font-weight: 500;
        }
    }

    &__name {
        color: $black;
        font-weight: 700;
        font-size: 24px;
    }
}

.drop-list {
    &__with-title {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: .6rem;
        width: 100%;

        &.yellow {
            .drop-list {
                border-color: $yellow;
            }
        }

        &.yellow-grey {
            .drop-list {
                border-color: $yellow;
                background-color: $grey;
            }
        }
    }

    &__label {
        label {
            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 18px;
        }

        display: flex;
        align-items: center;
        gap: .6rem;
    }

    &__message {
        display: flex;
        gap: .6rem;

        &-text {
            font-size: 12px;
        }
    }

    &__input {
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid transparent;
        transition-duration: .3s;

        input {
            width: 100%;
            height: 48px;
            background-color: $grey;
            padding-inline: 16px;
            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 18px;
        }
    }
}

#bold {
    font-weight: 800;
}

.text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: $black;
    line-height: 22px;

    &__yellow {
        border-bottom: 1px solid $yellow;
        display: inline;
        border-bottom: 1px solid $yellow;
    }
}

.doted-list {
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.label-input {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .6rem;
    width: 100%;

    &__label {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    &__icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__label {
        label {
            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 18px;
        }
    }

    &__input {
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid transparent;
        transition-duration: .3s;

        input {
            width: 100%;
            height: 48px;
            background-color: $grey;
            padding-inline: 16px;
            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 18px;
        }

        &.yellow {
            border-color: $yellow;
        }

        &.white {
            border-color: $black;
            background-color: white;

            input {
                background-color: white;
            }
        }

        &.yellow-white {
            border-color: $yellow;

            input {
                background-color: white;
            }
        }


        &.none {
            input {
                font-weight: 500;
            }
        }

    }

    &__message {
        display: flex;
        align-items: center;
        gap: .5rem;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 12px;
    }
}

.yellow-text {
    display: flex;
    gap: .6rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: .6rem;

    &__title-container {
        display: flex;
        gap: .5rem;
        align-items: center;
    }

    &__message {
        align-items: center;
        display: flex;
        gap: .6rem;

        &-text {
            font-size: 12px;
        }
    }

    &__title-number {
        min-width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $yellow;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
        border-radius: 100%;
    }

    &__title {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 20px;
    }

    &__text {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: .4rem;
    }
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}


.list-dot-element {
    position: relative;
    padding-left: 1rem;

    // &::after {
    //     content: "";
    //     position: absolute;
    //     left: -2px;
    //     top: 10px;
    //     width: 6px;
    //     aspect-ratio: 1;
    //     border-radius: 100%;
    //     background-color: $black;
    // }

    &.dots {
        &::after {
            content: "";
            position: absolute;
            left: -2px;
            top: 10px;
            width: 6px;
            aspect-ratio: 1;
            border-radius: 100%;
            background-color: $black;
        }
    }

    &.flag {
        .list__flag {
            position: absolute;
            left: -14px;
            top: 25%;
        }
    }

    .text {
        font-size: 16px;
    }
}

.text-with-icon {
    display: flex;
    gap: .5rem;
    background-color: $grey;
    padding: 16px;
    border-radius: 8px;

    &__icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        gap: .8rem;
        justify-content: center;
        align-items: flex-start;
    }
}