@import './layout.scss';

.drop-list {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 16px;
    border-radius: 8px;
    border: 1px solid $black;
    background-color: transparent;

    &__value-block {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 18px;
    }

    &__arrow-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.btn {
    width: 100%;
    height: 48px;
    border-radius: 8px;

    &__yellow {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: $black;
        background-color: $yellow;
    }

    &__yellow-border {
        background-color: transparent;
        border: 1px solid $yellow;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 18px;
    }
}

.drop-list {
    &__with-title {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: .6rem;
        width: 100%;
    }

    &__label {
        label {
            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 18px;
        }
    }

    &__message {
        display: flex;
        gap: .6rem;

        &-text {
            font-size: 12px;
        }
    }

    &__input {
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid transparent;
        transition-duration: .3s;

        input {
            width: 100%;
            height: 48px;
            background-color: $grey;
            padding-inline: 16px;
            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 18px;
        }
    }
}

#bold {
    font-weight: 800;
}

.text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: $black;
    line-height: 22px;

    &__yellow {
        border-bottom: 1px solid $yellow;
        display: inline;
        border-bottom: 1px solid $yellow;
    }
}

.doted-list {
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.label-input {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .6rem;
    width: 100%;


    &__label {
        label {
            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 18px;
        }
    }

    &__input {
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid transparent;
        transition-duration: .3s;

        input {
            width: 100%;
            height: 48px;
            background-color: $grey;
            padding-inline: 16px;
            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 18px;
        }

        &.yellow {
            border-color: $yellow;
        }

        &.white {
            border-color: $black;
            background-color: white;

            input {
                background-color: white;
            }
        }


        &.none {
            input {
                font-weight: 500;
            }
        }

    }

    &__message {
        display: flex;
        align-items: center;
        gap: .5rem;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 12px;
    }
}

.yellow-text {
    display: flex;
    gap: .6rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: .6rem;

    &__title-container {
        display: flex;
        gap: .5rem;
    }

    &__title-number {
        width: 24px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $yellow;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
        border-radius: 100%;
    }

    &__title {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 20px;
    }

    &__text {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
    }
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}


.list-dot-element {
    position: relative;
    padding-left: 1rem;

    &::after {
        content: "";
        position: absolute;
        left: -2px;
        top: 10px;
        width: 6px;
        aspect-ratio: 1;
        border-radius: 100%;
        background-color: $black;
    }
}