@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap');

$black: #272121;
$grey: #F5F7FA;
$yellow: #FFB800;

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Inter", sans-serif;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


footer {
    flex: 0 0 auto;
}

body {
    overflow-x: hidden;
    height: 100vh;
    min-height: 0;
}

html {
    scroll-behavior: smooth;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.header {
    flex: 1;
    width: 100%;
    max-height: 56px;
    height: fit-content;
    background-color: white;
    border-bottom: 0.5px solid rgba(#000, .15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    &__left {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__btn{
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__nav-back-container{
        display: flex;
        align-items: center;
    }

    &__name-container {
        font-size: 19px;
        font-weight: 600;
    }
}

.settings{
    padding: 16px;
}